version: "3.8"

services:
  postgres:
    image: postgres:17
    container_name: postgres
    ports:
      - "5442:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
